<a href="https://colab.research.google.com/github/alexisdr/uned-tfg-deteccion-eas/blob/main/UNED-TFG-2-data-set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Procesamiento de datos y creación de Dataset

En este cuaderno se procesan los datos y se crea un dataset con los datos procesados y listos para el entrenamiento del modelo.

# Parámetros

* ruta_archivo_GoldStandardTrainingEA: contiene una relación de IDS de actos clínicos seguidos de una lista de uno o varios códigos EAs, en caso de que sean aplicables, o NONE en caso de no se haya idetnificado ningún código de efecto adverso. Todos los valores están separados por espacios. Ejemplos:
```
24866017 T50.2X5A
27448436 T83.021A T83.511A T83.091A Y84.6
25205191 NONE
```
* ruta_archivo_GoldStandardTestEA: equivalente al anterior pero con los datos del conjunto de pruebas.
* ruta_archivos_entrenamiento: carpeta que contiene todos los informes médicos del conjunto de entrenamiento. El nombre del archivo está compuesto por el acto clínico y el identificador del informe. Ejemplo: 23062488-158483734.txt
* ruta_archivos_test: equivalente a training pero con el conjunto de pruebas.
* ruta_dataset: ruta en el que se almacenará el dataset

In [1]:
ruta_base = '/drive/My Drive/CorpusPFG/'

#Datos de origen
ruta_archivo_GoldStandardTrainingEA = ruta_base + 'GoldStandardTrainingEAs.txt'
ruta_archivo_GoldStandardTestEA = ruta_base + 'GoldStandardTestEAs.txt'
ruta_archivos_entrenamiento = ruta_base + 'Training/'
ruta_archivos_test = ruta_base + 'Test/'

#Dataset procesado
ruta_dataset = ruta_base + 'Dataset'

Instalación de depndencias necesarias

In [2]:
!pip install -q datasets unidecode nltk

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 474.6/474.6 kB 16.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 19.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 kB 10.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.5/212.5 kB 16.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.3/134.3 kB 13.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 49.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 20.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 11.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 21.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 13.0 MB/s eta 0:00:00

Se realiza el montaje de la unidad de Google Drive para acceder a los ficheros

In [3]:
from google.colab import drive

drive.mount('/drive')

Mounted at /drive

# Creación el conjunto de etiquetas

Se cargan los archivos para su tratamiento.

In [4]:
import pandas as pd

column_names = ["Acto", "TieneEA_EA1", 
                "EA2", "EA3", "EA4", "EA5", "EA6", "EA7", "EA8", "EA9", "EA10"]
df_goldStandardTrainingEAs = pd.read_csv(
    ruta_archivo_GoldStandardTrainingEA, sep=' ', header=None, names=column_names)
df_goldStandardTestEAs = pd.read_csv(
    ruta_archivo_GoldStandardTestEA, sep=' ', header=None, names=column_names)

In [5]:
df_goldStandardTrainingEAs

           Acto TieneEA_EA1  EA2  EA3  EA4  EA5  EA6  EA7  EA8  EA9  EA10
0      27690409    T50.2X5A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
1      24626366        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2      27967924       O90.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
3      25774939        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
4      24878023        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
...         ...         ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
14497  24368169        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
14498  26850773        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
14499  26850775        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
14500  26850771        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
14501  26850772        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN

[14502 rows x 11 columns]

Se unen todos los códigos EAs de todas las columnas para conocer los códigos más frecuentes

In [33]:
def crear_df_cantidad(dataframe):
  ds_cantidad_TieneEA_EA1 = dataframe.TieneEA_EA1.value_counts(dropna=True, sort=True)  
  ds_cantidad_EA2 = dataframe.EA2.value_counts(dropna=True, sort=True)  
  ds_cantidad_EA3 = dataframe.EA3.value_counts(dropna=True, sort=True)
  ds_cantidad_EA4 = dataframe.EA4.value_counts(dropna=True, sort=True)
  ds_cantidad_EA5 = dataframe.EA5.value_counts(dropna=True, sort=True)
  ds_cantidad_EA6 = dataframe.EA6.value_counts(dropna=True, sort=True)
  ds_cantidad_EA7 = dataframe.EA7.value_counts(dropna=True, sort=True)
  ds_cantidad_EA8 = dataframe.EA8.value_counts(dropna=True, sort=True)
  ds_cantidad_EA9 = dataframe.EA9.value_counts(dropna=True, sort=True)

  ds_all = pd.concat([ds_cantidad_TieneEA_EA1, ds_cantidad_EA2, ds_cantidad_EA3,
                      ds_cantidad_EA4, ds_cantidad_EA5, ds_cantidad_EA6,
                      ds_cantidad_EA7, ds_cantidad_EA8, ds_cantidad_EA9])

  df_cantidad = pd.DataFrame(ds_all)
  df_cantidad = df_cantidad.reset_index()
  df_cantidad.columns = ['eas', 'counts'] 
  return df_cantidad

df_cantidad = crear_df_cantidad(df_goldStandardTrainingEAs)
df_cantidad.count()
df_cantidad

          eas  counts
0        NONE     150
1    T38.0X5A     104
2    T45.515A      98
3    T50.2X5A      96
4         Y95      91
..        ...     ...
784    I95.81       1
785  T82.222A       1
786     Y84.8       1
787  T84.51XA       1
788     Y84.8       1

[789 rows x 2 columns]

Los 8 códigos más frecuentes

In [7]:
df_cantidad.query("eas != 'NONE'").head(8)

        eas  counts
1  T38.0X5A     104
2  T45.515A      98
3  T50.2X5A      96
4       Y95      91
5     P01.1      90
6  T81.4XXA      89
7  T45.1X5A      72
8     Y83.1      71

Limita los registros con NONE a 150 muestras para rebajar su peso en el entrenamiento.

In [18]:
df_none = df_goldStandardTrainingEAs.query("TieneEA_EA1 == 'NONE'").head(150)
print("Datos con label none: ", df_none.count())
df_con_label = df_goldStandardTrainingEAs.query("TieneEA_EA1 != 'NONE'")
print("Datos sin label none: ", df_con_label.count())
df_goldStandardTrainingEAs_none_limitados = pd.concat([df_con_label, df_none], ignore_index=True) 
print("Datos totales: ", df_goldStandardTrainingEAs_none_limitados.count())
df_goldStandardTrainingEAs = df_goldStandardTrainingEAs_none_limitados
df_goldStandardTrainingEAs

Datos con label none:  Acto           150
TieneEA_EA1    150
EA2              0
EA3              0
EA4              0
EA5              0
EA6              0
EA7              0
EA8              0
EA9              0
EA10             0
dtype: int64
Datos sin label none:  Acto           2321
TieneEA_EA1    2321
EA2             925
EA3             240
EA4              78
EA5              21
EA6               8
EA7               5
EA8               3
EA9               2
EA10              0
dtype: int64
Datos totales:  Acto           2471
TieneEA_EA1    2471
EA2             925
EA3             240
EA4              78
EA5              21
EA6               8
EA7               5
EA8               3
EA9               2
EA10              0
dtype: int64

          Acto TieneEA_EA1  EA2  EA3  EA4  EA5  EA6  EA7  EA8  EA9  EA10
0     27690409    T50.2X5A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
1     27967924       O90.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2     24626357    T46.5X5A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
3     24854067       E89.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
4     28005899     H59.022  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
...        ...         ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
2466  25064799        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2467  28172063        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2468  27184299        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2469  24086213        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2470  27819150        NONE  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN

[2471 rows x 11 columns]

Creación de las listas de etiquetas de los conjuntos de datos y su relación numérica equivalente

In [35]:
from datasets import ClassLabel

def obtener_lista_actos(dataframe, rows):
  actos = dataframe.query("Acto == 0")
  for ea in rows["eas"]:
    actos = actos.append(obtener_actos(dataframe, ea), ignore_index=True)
  return actos

def obtener_actos(dataframe, EA_code):
  query = ("TieneEA_EA1 == '{EA}'")
  query = query.replace ('{EA}', EA_code)
  return dataframe.query(query)
  
df_codigos_mas_frecuentes = df_cantidad.query("eas != 'NONE'").head(8)
print ("df_cantidad", df_cantidad)

df_entrenamiento_codigos_mas_frecuentes = obtener_lista_actos(
    df_goldStandardTrainingEAs, df_codigos_mas_frecuentes)

df_test_codigos_mas_frecuentes = obtener_lista_actos(
    df_goldStandardTestEAs, df_codigos_mas_frecuentes)


def crear_class2label (label_list):
  df = pd.DataFrame(label_list, columns=["label"])
  df = df.dropna()
  label_list = list(df.label.unique())
  return ClassLabel(num_classes=len(label_list), names=label_list)

def crear_lista_etiquetas(dataframe):
  label_list = list(dataframe.TieneEA_EA1.unique())
  label_list.extend(list(dataframe.EA2.unique()))
  label_list.extend(list(dataframe.EA3.unique()))
  label_list.extend(list(dataframe.EA4.unique()))
  label_list.extend(list(dataframe.EA5.unique()))
  label_list.extend(list(dataframe.EA6.unique()))
  label_list.extend(list(dataframe.EA7.unique()))
  label_list.extend(list(dataframe.EA8.unique()))
  label_list.extend(list(dataframe.EA9.unique()))
  label_list.extend(list(dataframe.EA10.unique()))
  return crear_class2label(label_list)

def crear_lista_etiquetas_mas_frecuentes(dataframe):
  label_list = list(dataframe.eas.unique())
  return crear_class2label(label_list)

class2label_entrenamiento = crear_lista_etiquetas(df_goldStandardTrainingEAs)
class2label_entrenamiento_masFrecuentes = crear_lista_etiquetas_mas_frecuentes(df_codigos_mas_frecuentes)
class2label_test = crear_lista_etiquetas(df_goldStandardTestEAs)
class2label_test_masFrecuentes = crear_lista_etiquetas_mas_frecuentes(df_codigos_mas_frecuentes)

df_cantidad           eas  counts
0        NONE     150
1    T38.0X5A     104
2    T45.515A      98
3    T50.2X5A      96
4         Y95      91
..        ...     ...
784    I95.81       1
785  T82.222A       1
786     Y84.8       1
787  T84.51XA       1
788     Y84.8       1

[789 rows x 2 columns]

<ipython-input-35-a0642168836a>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  actos = actos.append(obtener_actos(dataframe, ea), ignore_index=True)
<ipython-input-35-a0642168836a>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  actos = actos.append(obtener_actos(dataframe, ea), ignore_index=True)

Clases de los conjuntos de datos de entrenamiento y test

In [36]:
class2label_entrenamiento

ClassLabel(names=['T50.2X5A', 'O90.0', 'T46.5X5A', 'E89.0', 'H59.022', 'Y84.2', 'T83.021A', 'K94.23', 'T50.8X5A', 'Y95', 'T50.905A', 'T50.0X5A', 'L27.0', 'T85.398A', 'T38.0X5A', 'T85.79XA', 'P39.1', 'T84.498A', 'T84.82XA', 'K91.841', 'I97.618', 'T80.1XXA', 'T84.89XA', 'T40.605A', 'R50.82', 'T81.4XXA', 'T38.3X5A', 'G97.1', 'O75.2', 'N99.820', 'T45.1X5A', 'T39.1X5A', 'T85.71XA', 'L76.02', 'K66.0', 'Y83.1', 'T82.120A', 'K12.31', 'P01.1', 'G25.1', 'G89.18', 'T38.0X5D', 'L76.31', 'M96.830', 'G97.41', 'T47.4X5A', 'N99.821', 'T45.515A', 'T80.211A', 'T46.2X5S', 'P36.9', 'T36.0X5A', 'T84.84XA', 'G62.0', 'D70.1', 'T82.868A', 'T79.6XXA', 'T40.2X5A', 'T39.395A', 'T41.5X5A', 'T84.223A', 'T45.1X5D', 'T83.498A', 'L76.22', 'T43.295A', 'K94.12', 'P39.8', 'O86.29', 'K91.71', 'T84.021A', 'M96.840', 'Y83.2', 'T87.81', 'I97.130', 'T46.0X5A', 'T84.51XA', 'P03.4', 'Y64.0', 'J95.811', 'T39.2X5A', 'G97.51', 'T48.6X5A', 'T45.615A', 'H59.021', 'T82.7XXA', 'T82.330A', 'T83.29XA', 'K94.29', 'E89.2', 'E36.01', 'T36.95XA', 'T83.51XA', 'L27.1', 'T84.060A', 'G97.82', 'K95.81', 'T85.29XA', 'T82.190A', 'N99.89', 'T86.19', 'T81.89XA', 'T39.95XA', 'P01.5', 'T42.4X5A', 'G89.28', 'M1A.20X0', 'M96.1', 'K91.72', 'T81.83XA', 'K94.21', 'T37.95XA', 'T83.83XA', 'T85.611A', 'T84.54XA', 'E09.65', 'T36.1X5A', 'T82.857A', 'O86.12', 'T86.11', 'T80.92XA', 'Y84.0', 'T36.5X5A', 'Y83.5', 'K85.30', 'P13.4', 'T38.895A', 'I97.710', 'T43.595A', 'Y84.6', 'Y83.8', 'D61.1', 'T79.A3XA', 'J95.830', 'T37.1X5S', 'Y84.8', 'P01.2', 'T50.995A', 'T80.89XA', 'T46.2X5A', 'T50.2X5D', 'N99.528', 'T50.Z15A', 'T84.59XA', 'T45.1X5S', 'T84.011A', 'T37.1X5A', 'T84.226A', 'N98.1', 'T44.7X5A', 'T88.7XXA', 'T46.6X5A', 'I97.2', 'T85.598A', 'Y65.8', 'D70.2', 'K91.89', 'T83.89XA', 'I95.2', 'K91.840', 'T85.85XA', 'T82.855A', 'K59.03', 'P02.5', 'T43.595S', 'O90.81', 'T45.8X5A', 'T36.8X5A', 'M96.89', 'K12.32', 'T86.01', 'K91.61', 'T39.315A', 'P02.69', 'D64.81', 'G97.49', 'I97.89', 'T80.219A', 'T84.033A', 'T81.31XA', 'T83.511A', 'O04.5', 'T42.75XA', 'T38.0X5S', 'T82.898A', 'T82.838A', 'T84.63XA', 'T39.015A', 'T82.858A', 'T37.2X5A', 'Y83.3', 'N99.532', 'Y83.6', 'T88.59XA', 'O90.89', 'J95.3', 'T84.030A', 'T82.538A', 'M96.0', 'K91.1', 'T81.32XA', 'K91.3', 'T39.395S', 'O85', 'K94.13', 'K94.09', 'E89.89', 'T82.594A', 'T84.490A', 'T83.198A', 'N99.522', 'G97.52', 'T46.4X5A', 'Y83.0', 'J95.61', 'T48.4X5A', 'T47.1X5A', 'T86.12', 'L76.21', 'K91.2', 'T38.4X5A', 'T42.8X5A', 'T44.995D', 'H95.01', 'T85.828A', 'T85.698A', 'M96.810', 'T50.4X5A', 'G72.0', 'G21.11', 'Y84.1', 'D61.810', 'T82.858S', 'T84.194A', 'N14.2', 'T87.40', 'L76.32', 'T84.9XXA', 'I97.190', 'T43.205A', 'I97.790', 'G21.19', 'N99.72', 'T43.505A', 'P03.3', 'P12.81', 'T85.86XA', 'D61.811', 'P02.7', 'T88.8XXA', 'T87.89', 'T37.5X5A', 'T82.818A', 'T88.0XXA', 'G24.01', 'T81.72XA', 'T84.020A', 'T80.218A', 'T49.0X5A', 'J95.851', 'T43.95XA', 'T50.8X5S', 'T84.091A', 'T36.3X5A', 'T40.4X5A', 'T83.59XA', 'T83.098A', 'N52.34', 'N99.521', 'T42.1X5A', 'I97.610', 'P04.1', 'G25.71', 'T38.2X5S', 'T85.89XA', 'T45.525A', 'N99.511', 'T79.7XXA', 'T43.225A', 'N99.71', 'T84.032A', 'T41.45XA', 'T84.038A', 'T88.6XXA', 'N99.530', 'T81.12XA', 'T84.216A', 'T50.1X5A', 'I95.81', 'T45.625A', 'T84.029A', 'T83.091A', 'M96.842', 'T84.69XA', 'T84.50XA', 'T82.9XXA', 'T82.119A', 'T82.6XXA', 'T82.856A', 'T83.9XXA', 'T82.897A', 'T82.09XD', 'I97.191', 'T39.4X5A', 'T84.620A', 'T38.1X5A', 'I97.418', 'I97.51', 'N99.114', 'T82.848A', 'T83.191A', 'T84.090A', 'T82.199A', 'K91.850', 'O08.1', 'T82.110A', 'T82.223D', 'J95.03', 'T85.122A', 'T85.898A', 'N99.61', 'N99.113', 'T84.049A', 'I97.638', 'T81.4XXS', 'T46.2X5D', 'T80.212A', 'L76.82', 'T84.124A', 'P38.9', 'T84.021D', 'T82.320A', 'T88.8XXS', 'K94.22', 'T84.7XXA', 'J95.89', 'T82.120D', 'N99.112', 'T86.09', 'T37.8X5A', 'N99.111', 'T81.718A', 'P36.8', 'N99.110', 'P39.3', 'T84.022A', 'P02.1', 'P02.8', 'O75.1', 'T85.520A', 'T43.225D', 'E09.9', 'T84.52XA', 'T43.595D', 'T81.599A', 'Y84.9', 'T82.867A', 'T85.09XA', 'T84.53XA', 'T84.013A', 'T85.22XA', 'T84.048A', 'T83.028A', 'P01.8', 'T43.505D', 'N52.37', 'N99.841', 'T80.29XA', 'T50.8X5D', 'T43.025A', 'T45.4X5A', 'T84.114A', 'T80.818A', 'N99.0', 'O90.2', 'N99.3', 'P14.1', 'T83.420A', 'O74.8', 'T84.040A', 'N99.83', 'I97.611', 'T83.728S', 'H21.81', 'T85.590A', 'T44.8X5A', 'P12.89', 'T83.6XXA', 'O86.4', 'P36.2', 'Y84.5', 'T50.3X5A', 'T45.7X5A', 'M96.69', 'P03.810', 'T41.3X5A', 'E89.3', 'T84.031A', 'O91.12', 'E89.6', 'T82.03XD', 'NONE', 'T81.9XXS', 'T36.7X5A', 'T82.03XA', 'P03.2', 'T87.53', 'T87.43', 'K95.89', 'I97.410', 'T83.128A', 'T85.84XA', 'E24.2', 'T46.1X5A', 'T39.8X5A', 'T79.A21A', 'Y83.9', 'L25.1', 'M96.661', 'P01.7', 'E89.1', 'O75.89', 'T84.228A', 'T50.905D', 'D75.82', 'T82.857D', 'T84.041A', 'E09.11', 'J95.09', 'O86.20', 'I97.88', 'I97.52', 'T82.897D', 'L76.34', 'P01.3', 'T84.296A', 'J95.88', 'G97.32', 'T37.3X5A', 'T80.62XA', 'R50.2', 'T84.84XD', 'N14.1', 'Y83.4', 'T84.293A', 'P02.3', 'I97.711', 'T46.3X5A', 'T83.84XA', 'T85.49XA', 'E27.3', 'Y65.4', 'Y84.4', 'P03.0', 'T84.318A', 'P39.9', 'T87.44', 'T88.9XXS', 'T43.215A', 'I97.630', 'T82.598A', 'E66.1', 'I97.62', 'Y84.3', 'T82.339A', 'T82.398A', 'T82.228D', 'T84.190A', 'T81.82XA', 'T86.10', 'J95.821', 'T37.5X5S', 'I97.820', 'T39.395D', 'T84.60XA', 'P03.1', 'T36.5X5S', 'T86.13', 'T84.218A', 'K94.19', 'T87.41', 'E09.22', 'T83.83XD', 'I97.131', 'T45.0X5A', 'T82.222A'], id=None)

In [37]:
class2label_test

ClassLabel(names=['NONE', 'T38.0X5A', 'Y83.1', 'P02.69', 'T45.515A', 'T36.95XA', 'T50.2X5A', 'T39.315A', 'T39.95XA', 'O91.22', 'T86.10', 'Y95', 'T39.395A', 'T84.54XA', 'T84.226A', 'P01.1', 'K91.840', 'J95.811', 'T82.7XXA', 'T43.505A', 'T50.8X5A', 'E89.0', 'T45.1X5A', 'K94.29', 'T81.83XA', 'T45.615A', 'T86.5', 'K91.841', 'T88.8XXA', 'T80.1XXA', 'L76.22', 'O75.2', 'T46.0X5A', 'I97.190', 'O04.5', 'T81.4XXA', 'I95.2', 'T88.59XA', 'T36.1X5A', 'M96.1', 'T42.8X5A', 'O75.82', 'I97.121', 'T83.51XA', 'Y83.6', 'K66.0', 'T46.2X5A', 'Y84.2', 'L76.32', 'P03.89', 'K91.71', 'T84.428A', 'T85.49XA', 'T50.905A', 'G72.0', 'T83.89XA', 'T86.11', 'T42.4X5A', 'P03.4', 'K94.09', 'T80.212A', 'T39.2X5A', 'Y83.8', 'T39.4X5A', 'K12.31', 'P39.3', 'T82.09XD', 'K91.89', 'T82.9XXA', 'T82.868A', 'T42.75XA', 'G89.18', 'E89.89', 'R50.82', 'T50.3X5A', 'T40.2X5A', 'T82.524A', 'P13.4', 'T83.59XA', 'P02.7', 'T82.855D', 'T50.1X5A', 'P15.8', 'I97.51', 'T45.525A', 'N99.111', 'K91.61', 'T82.857A', 'D70.1', 'N99.512', 'P36.9', 'I97.790', 'T43.595A', 'T82.858A', 'T39.1X5A', 'T50.995A', 'P39.1', 'T84.84XA', 'T81.72XA', 'T84.89XA', 'O90.89', 'T80.219A', 'T82.838A', 'T36.8X5A', 'J95.830', 'K94.23', 'L27.1', 'T46.5X5A', 'G62.0', 'T83.098A', 'P39.9', 'E09.65', 'T47.1X5A', 'T80.211A', 'T49.0X5A', 'T81.83XD', 'O90.81', 'T40.4X5A', 'L27.0', 'T85.71XA', 'T38.0X5S', 'Y84.8', 'T36.5X5A', 'T38.0X5D', 'T82.120A', 'T38.3X5A', 'T85.590A', 'T79.7XXA', 'M96.830', 'T87.81', 'T44.995A', 'T81.31XA', 'T46.6X5A', 'T46.2X5S', 'T42.6X5A', 'P02.5', 'Y83.3', 'T82.310A', 'D61.1', 'T85.22XA', 'O89.4', 'P12.81', 'O86.12', 'Y84.0', 'P39.4', 'K91.2', 'N99.61', 'N99.71', 'T43.505S', 'Y83.5', 'G25.79', 'Y84.6', 'T85.79XA', 'O86.4', 'T84.021A', 'T45.4X5A', 'K94.19', 'I97.89', 'I97.52', 'T50.6X5D', 'G97.1', 'K12.32', 'T79.6XXA', 'T87.44', 'Y83.2', 'T81.19XA', 'H59.88', 'T86.831', 'P03.2', 'H59.022', 'T37.5X5A', 'P02.8', 'I97.2', 'T84.098A', 'N99.3', 'T84.296A', 'T81.12XA', 'T39.015A', 'T48.6X5A', 'K91.3', 'T84.033A', 'T85.89XA', 'T81.32XA', 'P13.2', 'K94.22', 'D70.2', 'T83.198A', 'G97.41', 'N99.89', 'T44.8X5A', 'H59.021', 'G97.49', 'T82.09XA', 'T50.Z15A', 'T85.44XA', 'T84.041A', 'T84.196A', 'Y65.8', 'T84.52XA', 'G89.28', 'E09.9', 'T37.0X5A', 'E16.0', 'T82.857D', 'D61.810', 'P01.5', 'T40.3X5A', 'T36.0X5A', 'P39.8', 'P03.0', 'T45.1X5S', 'T84.030A', 'Y83.0', 'J95.89', 'T86.01', 'T40.605A', 'T46.4X5A', 'P12.0', 'I97.88', 'E89.2', 'Y69', 'T87.43', 'T82.867A', 'T84.9XXA', 'T82.855A', 'T50.0X5A', 'T84.093A', 'H59.329', 'N99.110', 'T45.8X5A', 'T45.1X5D', 'K91.81', 'D61.811', 'T84.63XA', 'Y65.4', 'K91.62', 'T82.897A', 'P36.19', 'T43.215A', 'T84.197A', 'M96.0', 'M96.662', 'D64.81', 'T82.03XD', 'G24.09', 'T86.40', 'I95.81', 'T81.507A', 'T82.6XXA', 'Y83.4', 'I97.131'], id=None)

Datos de entrenamiento que están clasificados con los 8 códigos más frecuentes

In [38]:
df_entrenamiento_codigos_mas_frecuentes

         Acto TieneEA_EA1       EA2  EA3  EA4  EA5  EA6  EA7  EA8  EA9  EA10
0    27820190    T38.0X5A       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
1    24640635    T38.0X5A       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2    27725771    T38.0X5A  T45.1X5A  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
3    27834890    T38.0X5A       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
4    26111542    T38.0X5A  T46.5X5A  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
..        ...         ...       ...  ...  ...  ...  ...  ...  ...  ...   ...
706  25078241       Y83.1  T82.03XA  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
707  27184410       Y83.1  T82.9XXA  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
708  26332930       Y83.1  T84.84XA  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
709  24008892       Y83.1  T82.857D  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
710  26751050       Y83.1  T84.51XA  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN

[711 rows x 11 columns]

Clases de los conjuntos de datos con los códigos más frecuentes

In [39]:
class2label_entrenamiento_masFrecuentes

ClassLabel(names=['T38.0X5A', 'T45.515A', 'T50.2X5A', 'Y95', 'P01.1', 'T81.4XXA', 'T45.1X5A', 'Y83.1'], id=None)

In [40]:
class2label_test_masFrecuentes

ClassLabel(names=['T38.0X5A', 'T45.515A', 'T50.2X5A', 'Y95', 'P01.1', 'T81.4XXA', 'T45.1X5A', 'Y83.1'], id=None)

# Precesamiento de datos

In [41]:
import os
import re
from unidecode import unidecode
from nltk.corpus import stopwords 
import nltk
import json
from tqdm.notebook import tqdm

re_juicio1 = re.compile(r'juicio [a-z]*')
re_juicio2 = re.compile(r'j[a-z]* clinico')
re_juicio3 = re.compile(r'j[a-z]* clinico[a-z]*')
re_juicio4 = re.compile(r'j[a-z]* diagnostico[a-z]*')
re_juicio5 = re.compile(r'j[a-z]*  clinico')
re_gestacion = re.compile(r'gestacion [a-z]*')
apartados_juicio_clinico = ["jdtco", "jc", "jd"] 
apartados_de_interes = [] #, "comentarios"
apartado_sexo = "sexo"
apartados_descartados = [
    "recomendaciones", "lopd", "pagina", "datos personales seran tratados", 
    "antecedentes personales", "tto", "tratamiento", "en cumplimiento del artículo 5", 
    "hemograma"]    

nltk.download('stopwords')

def omitir_textos_anonimizacion (linea):
  # busca expresiones del tipo _HOSPITAL_XXXX_ _DIRECCION_XXXX_
  return re.sub (r'_\w+_XXXX_', '', linea)

def omitir_no_texto (linea):
  patron = r"[\w\.]+"
  palabras = re.findall(patron, linea)
  linea = ' '.join(palabras)
  return linea# re.sub (r'[^\w]', ' ', linea)

def omitir_numeros (linea):
  return re.sub(r'[0-9]+', ' ', linea)

def es_apartado_interes (linea, incluir_sexo):
  apartados = apartados_de_interes
  if (incluir_sexo):
    apartados.append(apartado_sexo)
  for apartado in apartados:
    if (apartado in linea):
      return True
  return False

def es_apartado_gestacion (linea):
  return re_gestacion.match (linea) != None

def es_apartado_juicio_clinico (linea):
  es_apartado_jucicio_clinico = False
  for apartado in apartados_juicio_clinico:
    if (apartado in linea):
      es_apartado_jucicio_clinico = True
      break
  return (re_juicio1.match (linea) != None or
          re_juicio2.match (linea) != None or
          re_juicio3.match (linea) != None or
          re_juicio4.match (linea) != None or
          re_juicio5.match (linea) != None or 
          es_apartado_jucicio_clinico)
  
def es_apartado (linea, incluir_sexo):
  return (es_apartado_juicio_clinico(linea) or
          es_apartado_gestacion(linea) or
          es_apartado_interes (linea, incluir_sexo))

def omitir_apartados (texto):
  if (es_apartado_juicio_clinico(texto)):
    texto = re_juicio1.sub (' ', texto)
    texto = re_juicio2.sub (' ', texto)
    texto = re_juicio3.sub (' ', texto)
    texto = re_juicio4.sub (' ', texto)
    texto = re_juicio5.sub (' ', texto)    
    for apartado in apartados_juicio_clinico:
      texto = texto.replace(apartado, ' ')      
    texto = "juicio clinico: " + texto
    
  if (re_gestacion.match (texto) != None):
    texto = re_gestacion.sub (' ', texto)
    texto = "gestacion: " + texto
    
  return texto

def es_apartado_descartado (linea):
  for apartado in apartados_descartados:
    if linea.startswith(apartado):
    #if (apartado in linea):
      return True
  return False    

def omitir_stopwors (linea):
  stop_words = set(stopwords.words('spanish')) 
  palabras = linea.split() 
  resultado = ''
  for paralabra in palabras: 
      if not resultado in stop_words: 
        resultado += ' ' + paralabra
  return resultado

def normalizar_texto (linea):
  linea = unidecode(linea) 
  linea = linea.lower().strip()
  return linea

def limpiar_texto (informe_medico, diccionario_apartados, incluir_sexo):
  texto = ''
  seleccionar = False  
  apartado = ""
  texto_apartado = ""

  for lineaTexto in informe_medico:
    lineaTexto = omitir_textos_anonimizacion(lineaTexto)
    lineaTexto = normalizar_texto(lineaTexto)
    lineaTexto = omitir_no_texto(lineaTexto)
    lineaTexto = omitir_numeros(lineaTexto)
    if (not incluir_sexo and apartado_sexo in lineaTexto):
      linea_array = lineaTexto.split(" ")      
      diccionario_apartados[apartado_sexo] = linea_array[len(linea_array)-1] + "."
    elif (es_apartado(lineaTexto.strip(), incluir_sexo)):
      if (apartado != "" and apartado != lineaTexto):
        diccionario_apartados[apartado] = texto_apartado
        texto_apartado = ""
      apartado = lineaTexto   
      seleccionar = True   
    elif (es_apartado_descartado(lineaTexto.strip())):        
        if (texto_apartado != ""):
          diccionario_apartados[apartado] = texto_apartado
        apartado = "" 
        texto_apartado = ""
        seleccionar = False   
    if (seleccionar):      
      lineaTexto = omitir_stopwors(lineaTexto)  
      texto_apartado += lineaTexto 

  if (texto_apartado != ""):
    diccionario_apartados[apartado] = texto_apartado

  for apartado in diccionario_apartados.values():
    texto += apartado

  json_apartados = [ {'apartado' : k, 'texto' : diccionario_apartados[k]} for k in diccionario_apartados]
  return texto, json_apartados

def obtener_texto (acto, label_list, lista_nombres_informes_medicos, files_location, class2label):  
  texto_acto = ''  
  diccionario_apartados = {}
  for nombre_informe in lista_nombres_informes_medicos:
    with open (files_location + nombre_informe, 'rt') as informe_medico:
      resultado = limpiar_texto(informe_medico, diccionario_apartados, False)
    if (resultado[0].strip() == ""):
      with open (files_location + nombre_informe, 'rt') as informe_medico:
        resultado = limpiar_texto(informe_medico, diccionario_apartados, True)

  json_object = json.loads(json.dumps(resultado[1]))    
  for aparatado in json_object:
    texto_acto = texto_acto + omitir_apartados(aparatado['texto'].strip()) + " "

  label_list_int = convertir_codigos_EA_a_entero(class2label, label_list)
  if (len(texto_acto)<30):
    return []
  else:
    return [acto,
          label_list_int[0], 
          label_list[0], 
          label_list_int,
          label_list, 
          lista_nombres_informes_medicos, 
          texto_acto, 
          json.dumps(resultado[1])]

def convertir_codigos_EA_a_entero(class2label, label_list):
  label_list_int = list()
  for codigo_ea in label_list:
    try:
      label_list_int.append(class2label.str2int(codigo_ea))
    except ValueError:
      pass
  return label_list_int

def tomar_codigos_EA_de_todas_las_columnas(row):
  label_list = list()
  for col in column_names:
    if (col == column_names[0]):
      continue
    if (type(row[col]) == str):
      label_list.append(row[col].strip())
  return label_list

def crear_vector_datos (dataframe, file_list, files_location, class2label, cantidad): 
  ds_resultado = []
  i = 0
  for index, row in tqdm(dataframe.iterrows()):
    texto_filtro = str(row['Acto']) + '-'
    archivos_acto = filter(lambda x: texto_filtro in x, file_list)       
    datos = obtener_texto(row['Acto'], tomar_codigos_EA_de_todas_las_columnas(row), 
                                      list(archivos_acto), files_location, class2label)
    if (datos):
      ds_resultado.append(datos)
    i += 1
    if (cantidad > 0 and i > cantidad):
     break
  return ds_resultado

def crear_dataframe (labeled_array):
  return pd.DataFrame(labeled_array, columns=[
      'acto', 'label', 'label_str', 
      'label_list', 'label_list_str', 
      'informes', 'text', 'json'])

def crear_dataframe_para_un_informe (nombre_archivo_informe):
  acto = nombre_archivo_informe.split("-")[0]
  labeled_array_training = crear_vector_datos (
      df_goldStandardTrainingEAs.query("Acto == " + acto), 
       [nombre_archivo_informe], ruta_archivos_entrenamiento, 
       class2label_entrenamiento, 0)
  return crear_dataframe (labeled_array_training)  

def crear_dataframe_train_test ():
  lista_archivos_entrenamiento = [f for f in os.listdir(ruta_archivos_entrenamiento) 
    if os.path.isfile(os.path.join(ruta_archivos_entrenamiento, f))]

  vector_datos_entrenamiento_masFrecuentes = crear_vector_datos (
      df_entrenamiento_codigos_mas_frecuentes, lista_archivos_entrenamiento, 
      ruta_archivos_entrenamiento, class2label_entrenamiento_masFrecuentes, 0)
  df_entrenamiento_masFrecuentes = crear_dataframe (vector_datos_entrenamiento_masFrecuentes)

  vector_datos_entrenamiento = crear_vector_datos (
      df_goldStandardTrainingEAs, lista_archivos_entrenamiento, 
      ruta_archivos_entrenamiento, class2label_entrenamiento, 0)
  df_entrenamiento = crear_dataframe (vector_datos_entrenamiento)  
  
  lista_archivos_test = [f for f in os.listdir(ruta_archivos_test) 
    if os.path.isfile(os.path.join(ruta_archivos_test, f))]
  
  vector_datos_test = crear_vector_datos (
      df_goldStandardTestEAs, lista_archivos_test, ruta_archivos_test, class2label_test, 0)
  df_test = crear_dataframe (vector_datos_test)
  
  vector_datos_test_mas_frecuentes = crear_vector_datos (
      df_test_codigos_mas_frecuentes, lista_archivos_test, ruta_archivos_test, class2label_test_masFrecuentes, 0)
  df_test_masFrecuentes = crear_dataframe (vector_datos_test_mas_frecuentes)

  return df_entrenamiento, df_test, df_entrenamiento_masFrecuentes, df_test_masFrecuentes

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
crear_dataframe_para_un_informe("26254234-167498204.txt")

0it [00:00, ?it/s]

In [ ]:
dataframes = crear_dataframe_train_test()

In [ ]:
dataframes[0]

# Creación del Dataset

In [ ]:
from datasets import Dataset, Value, DatasetDict

def set_dataset_features (dataset, class2label):
  new_features = dataset.features.copy()
  new_features["label"] = class2label
  return dataset.cast(new_features)
  
TRAIN = 0
TEST = 1
TRAIN_MAS_FRECUENTES = 2
TEST_MAS_FRECUENTES = 3

dataset_entrenamiento = Dataset.from_pandas(dataframes[TRAIN])
dataset_entrenamiento = set_dataset_features (dataset_entrenamiento, class2label_entrenamiento)
dataset_entrenamiento_validacion = dataset_entrenamiento.train_test_split(test_size=0.1)

dataset_test = Dataset.from_pandas(dataframes[TEST])
dataset_test = set_dataset_features (dataset_test, class2label_test)

dataset_entrenamiento_masFrecuentes = Dataset.from_pandas(dataframes[TRAIN_MAS_FRECUENTES])
dataset_entrenamiento_masFrecuentes = set_dataset_features (dataset_entrenamiento_masFrecuentes, class2label_entrenamiento_masFrecuentes)
dataset_entrenamiento_validacion_masFrecuentes = dataset_entrenamiento_masFrecuentes.train_test_split(test_size=0.1)

dataset_test_masFrecuentes = Dataset.from_pandas(dataframes[TEST_MAS_FRECUENTES])
dataset_test_masFrecuentes = set_dataset_features (dataset_test_masFrecuentes, class2label_test_masFrecuentes)

dataset_completo = DatasetDict(
    {
        "train": dataset_entrenamiento_validacion["train"],
        "validation": dataset_entrenamiento_validacion["test"],
        "test": dataset_test,
        "trainMasFrecuentes": dataset_entrenamiento_validacion_masFrecuentes["train"],
        "validationMasFrecuentes": dataset_entrenamiento_validacion_masFrecuentes["test"],
        "testMasFrecuentes": dataset_test_masFrecuentes
    })

dataset_completo

In [ ]:
dataset_completo["train"][0]

In [ ]:
dataset_completo["train"][0]['text']

In [ ]:
dataset_completo["train"].features

In [ ]:
dataset_completo["test"].features

In [ ]:
dataset_completo.save_to_disk(ruta_dataset)